body{font-family:Arial;
     background:#111;
     color:#eee;
     margin:0;
    }
header{background:#222;
       padding:20px;
       text-align:center;
      }
nav a{margin:0 10px;
      color:#0ff;
      text-decoration:none;
     }
section, p, ul, form{padding:20px;
     }
input,textarea{display:block;
               margin:10px 0;
               padding:8px;
               width:300px;
              }
button{padding:10px 20px;
       background:#0ff;
       border:none;
       cursor:pointer;
      }
